<html>
   <head>
       <title>答题</title>
   </head>
   <script>
       function reloadPage(){
         window.location.reload();
       }
        function show(){
            let test = document.getElementById('answer');
            test.hidden = false;
        }
   </script>
   <body>
        <table border=0 >
            <tr><td style="font-size: 50px"> {{ result.type }} </td></tr>
            <tr><td style="font-size: 20px"> <br/> </td></tr>
            <tr><td style="font-size: 50px"> {{ result.question }} </td></tr>
            {% for key, item in result.options.items() %}
                <tr><td style="font-size: 20px"> <br/> </td></tr>
                <tr><td style="font-size: 50px"> {{key}}{{item}} </td></tr>
            {% endfor %}
        </table>
        <table border=0 id="answer" hidden="true">
            <tr><td style="font-size: 20px"> <br/> </td></tr>
            <tr><td style="font-size: 50px"> 答案：{{ result.answer }} </td></tr>
        </table>
        <br/><br/><br/><br/><br/><br/>
        <input type="button" style="font-size: 70px" value="查看答案" onclick="show()" />
        <input type="button" style="margin-left:200px; font-size: 70px" value="下一题" onclick="reloadPage()" />


   </body>
</html>